* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

// Sementara
// body {
//   min-height: 200vh;
// }
// html {
//   width: 100vh;
// }

// Global dipake
.btn-view {
  width: 108px;
  height: 44px;
  border-radius: 5px;
  background-color: #e39d22;
  text-align: center;
  line-height: 44px;
  margin: auto;
  a {
    color: white;
    text-decoration: none;
  }
}
.btn-view:hover {
  background-color: #e4a944;
}
h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 8px;
}
.garis-judul {
  width: 281px;
  height: 5px;
  background-color: #000;
  margin: auto;
  border-radius: 10px;
}

// Styling CSS
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgba($color: white, $alpha: 0.3) dashed;
  background: linear-gradient(135deg, rgba(1, 57, 123, 0.92) 0%, #002755 100%);
  .logo {
    padding: 20px;
    margin-left: 86px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  ul {
    display: flex;
    padding-right: 87px;
    li {
      list-style: none;
      padding: 20px;
      font-size: 24px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-around;
  background-image: url(img/bg.svg);
  background-size: cover;
  .text {
    padding: 100px 50px;
    color: white;
    width: 454px;
    .hi {
      font-size: 28px;
      margin-bottom: 9px;
    }
    h3 {
      font-size: 53px;
      margin-bottom: 15px;
    }
    .diri {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
  .profile-picture {
    padding-right: 136px;
  }
}

.tentang-diri {
  display: flex;
  justify-content: center;
  padding: 53px 61px 53px 61px;
  background-color: #e6f4f1;
  img {
    // width: 514px;
    // height: 693px;
    box-shadow: 0px 4.528800010681152px 3.623039960861206px 0px
        rgba(0, 0, 0, 0.02),
      0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
      0px 30.14707374572754px 24.117658615112305px 0px rgba(0, 0, 0, 0.05),
      0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    background-size: cover;
  }
  .about {
    padding: 69px 61px 0px 61px;
    .deskripsi {
      h3 {
        font-size: 30px;
        padding-bottom: 10px;
      }
      p {
        width: 575px;
        text-indent: 65px;
        font-size: 22px;
        text-align: justify;
        padding-bottom: 56px;
      }
    }
    .card-skill {
      ul {
        width: 574px;
        display: flex;
        row-gap: 8px;
        column-gap: 8px;
        flex-wrap: wrap;
        li {
          width: 275px;
          height: 79px;
          border-radius: 10px;
          border: 3px solid #01397b;
          background: #fff;
          padding-top: 3px;
          display: flex;
          align-items: center;
        }
      }
      img {
        width: 72px;
        height: 63px;
        padding: 0;
        padding-left: 10px;
      }
      .desk_skill {
        padding-left: 20px;
      }
    }
  }
}

.project {
  padding-top: 57px;
  height: 580px;
  background-color: #01397b;
  h2 {
    color: white;
  }
  .garis-judul {
    background-color: white;
    margin-bottom: 66px;
  }
  ul {
    margin: auto;
    width: 394px;
    height: 257px;
    background-color: #e6f4f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    li {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      .judul-project {
        width: 304px;
        height: 58;
        border-radius: 10;
        background-color: #e6f4f1;
        border: 3px solid #002755;
      }
    }
  }
  .list-project {
    display: flex;
    justify-content: space-around;
    .jenis-project {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 45px;
      .gambar {
        width: 394px;
        height: 257px;
        background-color: #e6f4f1;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .judul-project {
        width: 304px;
        height: 58px;
        background-color: #e6f4f1;
        border-radius: 10px;
        border: 3px solid #002755;
        text-align: center;
        line-height: 58px;
        margin-top: -35px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.hub-saya {
  padding-top: 50px;
  background-color: #e6f4f1;

  .container {
    display: flex;
    justify-content: center;
    margin: 40px 40px;
    .hub-kiri {
      width: 293px;
      padding: 0 20px;
      font-size: 22px;
      font-weight: bold;
      input[type="text"] {
        width: 288px;
        padding: 10px 0;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid #000;
        border-radius: 3px;
        background-color: transparent;
        text-indent: 15px;
      }
      input[type="email"] {
        width: 100%;
        padding: 10px 0;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid #000;
        border-radius: 3px;
        background-color: transparent;
        text-indent: 15px;
      }
      input[type="submit"] {
        background-color: #393d3c;
        color: #e6f4f1;
        width: 100px;
        height: 40px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
      }
      #submit:hover {
        background-color: #616967;
      }
    }
    .hub-kanan {
      padding-left: 63px;
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 18px;
      }
      a {
        list-style: none;
      }

      .contact {
        margin-bottom: 45px;
      }
      .alamat {
        margin-bottom: 45px;
        width: 250px;
      }
      .sosial-media {
        ul {
          list-style: none;
          display: flex;
          column-gap: 29px;
        }
      }
    }
  }
}

footer {
  margin-top: 100px;
  height: 150px;
  background-color: #303030;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 150px;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
      margin: auto;
    }
    ul {
      display: none;
      display: flex;
      // togle nanti
      flex-direction: column;
      padding: 0;
    }
  }

  header {
    .text {
      // margin-left: -60px;
      .hi {
        text-align: center;
      }
      h3 {
        text-align: center;
      }
    }
    .profile-picture {
      display: none;
    }
  }

  .tentang-diri {
    // margin-left: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      width: 80%;
    }
    .about {
      .deskripsi {
        p {
          width: 370px;
          font-size: 15px;
          padding-left: 100px;
        }
      }
    }

    .card-skill {
      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .project {
    height: 1200px;
    .list-project {
      flex-direction: column;
    }
  }

  .hub-saya {
    .container {
      flex-direction: column;
      align-items: center;
      .hub-kiri {
        margin-bottom: 50px;
      }
      .hub-kanan {
        padding: 0;
        text-align: center;
        .sosial-media {
          ul {
            justify-content: center;
          }
        }
      }
    }
  }
}
