* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  min-height: 200vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgba($color: white, $alpha: 0.3) dashed;
  background: linear-gradient(135deg, rgba(1, 57, 123, 0.92) 0%, #002755 100%);
  .logo {
    padding: 20px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  ul {
    display: flex;
    padding-right: 50px;
    li {
      list-style: none;
      padding: 20px;
      font-size: 24px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-around;
  background-image: url(img/bg.svg);
  background-size: cover;
  .text {
    padding: 100px 50px;
    color: white;
    width: 454px;
    .hi {
      font-size: 28px;
      margin-bottom: 9px;
    }
    h3 {
      font-size: 53px;
      margin-bottom: 15px;
    }
    .diri {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .btn-view {
      width: 108px;
      height: 44px;
      border-radius: 5px;
      background-color: #e39d22;
      text-align: center;
      line-height: 44px;
      margin: auto;
      cursor: pointer;
    }
  }
  .profile-picture {
    padding-right: 136px;
  }
}

.tentang-diri {
  display: flex;
  img {
    padding: 52px 61px 0 100px;
    width: 514px;
    height: 693px;
  }
  .about {
    padding-top: 122px;
    .deskripsi {
      h3 {
        font-size: 30px;
        padding-bottom: 10px;
      }
      p {
        width: 575px;
        text-indent: 65px;
        font-size: 22px;
        text-align: justify;
        padding-bottom: 56px;
      }
    }
    .card-skill {
      ul {
        width: 574px;
        display: flex;
        row-gap: 8px;
        column-gap: 8px;
        flex-wrap: wrap;
        li {
          width: 279px;
          height: 79px;
          border-radius: 10px;
          border: 3px solid #01397b;
          background: #fff;
          padding-top: 3px;
          display: flex;
          align-items: center;
        }
      }
      img {
        width: 72px;
        height: 63px;
        padding: 0;
        padding-left: 10px;
      }
      .desk_skill {
        padding-left: 20px;
      }
    }
  }
}

footer {
  margin-top: 100px;
  height: 150px;
  background-color: #303030;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 150px;
}
