* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

// Sementara
body {
  min-height: 200vh;
}

// Global dipake
.btn-view {
  width: 108px;
  height: 44px;
  border-radius: 5px;
  background-color: #e39d22;
  text-align: center;
  line-height: 44px;
  margin: auto;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgba($color: white, $alpha: 0.3) dashed;
  background: linear-gradient(135deg, rgba(1, 57, 123, 0.92) 0%, #002755 100%);
  .logo {
    padding: 20px;
    margin-left: 86px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  ul {
    display: flex;
    padding-right: 87px;
    li {
      list-style: none;
      padding: 20px;
      font-size: 24px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-around;
  background-image: url(img/bg.svg);
  background-size: cover;
  .text {
    padding: 100px 50px;
    color: white;
    width: 454px;
    .hi {
      font-size: 28px;
      margin-bottom: 9px;
    }
    h3 {
      font-size: 53px;
      margin-bottom: 15px;
    }
    .diri {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
  .profile-picture {
    padding-right: 136px;
  }
}

.tentang-diri {
  display: flex;
  justify-content: center;
  padding: 53px 61px 53px 61px;
  background-color: #E6F4F1;
  img {
    // width: 514px;
    // height: 693px;
    box-shadow: 0px 4.528800010681152px 3.623039960861206px 0px
        rgba(0, 0, 0, 0.02),
      0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
      0px 30.14707374572754px 24.117658615112305px 0px rgba(0, 0, 0, 0.05),
      0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  }
  .about {
    padding: 69px 61px 0px 61px;
    .deskripsi {
      h3 {
        font-size: 30px;
        padding-bottom: 10px;
      }
      p {
        width: 575px;
        text-indent: 65px;
        font-size: 22px;
        text-align: justify;
        padding-bottom: 56px;
      }
    }
    .card-skill {
      ul {
        width: 574px;
        display: flex;
        row-gap: 8px;
        column-gap: 8px;
        flex-wrap: wrap;
        li {
          width: 275px;
          height: 79px;
          border-radius: 10px;
          border: 3px solid #01397b;
          background: #fff;
          padding-top: 3px;
          display: flex;
          align-items: center;
        }
      }
      img {
        width: 72px;
        height: 63px;
        padding: 0;
        padding-left: 10px;
      }
      .desk_skill {
        padding-left: 20px;
      }
    }
  }
}



footer {
  margin-top: 100px;
  height: 150px;
  background-color: #303030;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 150px;
}
